<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo Perez dot US</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <body class="color-intro">

    <div class="pgwrap">

      <!-- section starts -->
      <div class="section" id="intro">

        <div class="brand" id="">
          <!-- <img src="assets/logo.svg" width="50"> -->

          <%= image_tag("logo1.jpg", class: "logo") %>
          <%= image_tag("logo2.jpg", class: "logo") %>
          <%= image_tag("logo3.jpg", class: "logo") %>

        </div>

        <ul>
          <li><a href="https://github.com/eperezks" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/eduardo-perez-a6b4658" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
          <li><a href="projects.html"><i class="fa fa-file" aria-hidden="true"></i> Projects</a></li>
          <li><a href="mailto:eduardoperezus@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
        </ul>
      </div>

      <!-- section ends -->

    </div>
    </body>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
